/* AdminLogin.css */

/* Default background image for web */
.background-container {
    background-image: url("../image/trucks.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 110vh;
   
    
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .background-container {
      background-image: url("../image/ICE page.png");
      background-size: cover;

    }
  }
  
  /* .background {
    background-color: rgb(183, 200, 215);
    text-align: center;
  } */
  
  /* Admin.css */

.custom-input {
    height: 30px; /* Adjust the height as needed */
    overflow: hidden; /* Prevent scrolling */
    border: 1px solid white; /* Set white border */
    border-radius: 10px; /* Adjust the border radius as needed */
  }
  
  .custom-input input::placeholder {
    color: white; /* Set white placeholder text color */
  }
  .imageoverlay{
    background-color: rgb(205, 225, 243);
    position: absolute;
    width: 400px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;

  }
  .imageoverlays{
    background-color: rgb(178, 205, 230);
    position: absolute;
    width: 400px;
    margin-top: 30px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;

  }

  
  